html,
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    background-color: #023047;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
