html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #1d527a;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1d527a;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e3ab44;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e3ab44;
  color: #e3ab44;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e3ab44;
  color: #e3ab44;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e3ab44;
  color: #e3ab44;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #e3ab44;
  }
  50%,
  100% {
    background-color: #1f4b6f;
  }
}
